


<footer>
  <span class="border-shape"></span>
  <div class="copyright">
    Copyright © {{ currentYear }} - All rights reserved || Designed By : NJM
  </div>

</footer>


<style>

  @media screen and (max-width: 767px) {
    footer {

      padding: 20px 10px 80px 0px;
      text-align: center;
    }

    .border-shape {
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: #fc0;
      margin-bottom: 10px;
    }

    .copyright {
      padding:0.8em 0;
      background-color:transparent !important;
      text-align:center; letter-spacing: 0px;font-family: monospace;
      color:rgba(255,255,255);

    }
  }
  @media screen and (min-width: 767px){
    footer {

      padding: 20px;
      text-align: center;
    }

    .border-shape {
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: #fc0;
      margin-bottom: 10px;
    }

    .copyright {
      padding:0.8em 0;
      background-color:transparent !important;
      text-align:center; letter-spacing: 1px;font-family: monospace;
      color:rgba(255,255,255);

    }
  }
</style>

