





<div


class="  animate-gradient-text"
>
ABOUT&nbsp;US
</div>





<section class="about"  >
  <div class="image-container">

    <div  >
      <div    >
        <a class="bsous hoverbs">
          <div class="notes">
            <ul class="note_list">
              <li>
                <img
                  class="even"
                  src="https://cdn-icons-png.flaticon.com/128/2737/2737035.png"
                />
                <p class="sous-icon">Eating</p>
              </li>
              <li>
                <img
                  class="even"
                  src="https://cdn-icons-png.flaticon.com/128/2490/2490419.png"
                />
                <p class="sous-icon">Learning</p>
              </li>
              <li class="active">
                <img
                  class="even"
                  src="https://cdn-icons-png.flaticon.com/128/711/711284.png"
                />
                <p class="sous-icon">Coding</p>
              </li>
              <li>
                <img
                  class="even"
                  src="https://cdn-icons-png.flaticon.com/128/711/711284.png"
                />
                <p class="sous-icon">Reading</p>
              </li>
              <li>
                <img
                  class="even"
                  src="https://cdn-icons-png.flaticon.com/128/565/565350.png"
                />
                <p class="sous-icon">Biking</p>
              </li>
              <li>
                <img
                  class="even"
                  src="https://cdn-icons-png.flaticon.com/128/2829/2829162.png"
                />
                <p class="sous-icon">Sleeping</p>
              </li>
            </ul>
          </div>
        </a>
      </div>
      <img
        id="imgab reveal lightSpeedInleft"class="life"

        src="https://i.ibb.co/Y3mLZj0/www.png"
        alt=""
      />
    </div>
   </div>
  <div class="text-container">
    <div      class="pab ">
      <p   class="the  ">
        Jarray Najmeddine
      </p>

      <p class="ppp">
        I'm a Full Stack Developer located in Tunisia. I have a serious passion
        for software development and Artificial Intelligence.
        <br />
        <br />
        My main experience is in software development but I also have a passion
        for robotics. Given that producing a modern website or mobile applications
        requires the combination of design, server technology ... I believe having
        experience in both design and development allows for making the most
        optimal user experiences.
      </p>
      <div>
        <p class="njma bestskil" >best skills</p>
        <div

          class="best"

        >
          <a class="bbest hovera"  fxLayout="column">
            <span>Angular</span>
          </a>
          <a class="bbest hoverf" >
            <span>Flutter</span>
          </a>
          <a class="bbest hovern" >
            <span>Node.JS</span>
          </a>
          <a class="bbest hoverj" >
            <span>Python</span>
          </a>
        </div>


      </div>
      <div  class="btn">
        <button routerLink="/contact" class="button-86" role="button">
          Contact Me
        </button>
      </div>
    </div>

  </div>

</section>

