
<body>
   <header class="header" id="header">
      <nav class="nav container">
          <a href="#" class="nav__logo">Najem</a>

          <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                  <li class="nav__item">
                      <a href="#home" class="nav__link active-link">
                          <i class='bx bx-home-alt-2 nav__icon'></i>
                          <span class="nav__name">Home</span>
                        </a>

                  </li>
                  <li class="nav__item">
                      <a href="#services" class="nav__link">
                          <i class='bx bx-briefcase-alt-2 nav__icon'></i>
                          <span class="nav__name">Services</span>
                      </a>
                  </li>

                  <li class="nav__item">
                      <a href="#about" class="nav__link">
                          <i class='bx bx-user nav__icon'></i>
                          <span class="nav__name">About</span>
                      </a>
                  </li>
                  <li class="nav__item">
                    <a href="#work" class="nav__link">
                        <i class='bx bx-folder-open nav__icon'></i>
                        <span class="nav__name">Works</span>
                    </a>
                </li>
                  <!-- <li class="nav__item">
                      <a href="#skills" class="nav__link">
                          <i class='bx bx-book-alt nav__icon'></i>
                          <span class="nav__name">Skills</span>
                      </a>
                  </li> -->


                  <li class="nav__item">
                      <a href="#contact" class="nav__link">
                          <i class='bx bx-message-rounded-dots nav__icon'></i>
                          <span class="nav__name">Contact me</span>
                      </a>
                  </li>
              </ul>
          </div>

          <!-- <img src="assets/img/perfil.png" alt="" class="nav__img"> -->
      </nav>
  </header>
<style>
  .tst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

</style>

<main>

  <section class="container section section__height tst" >
      <div class="section__title"  id="home"      >
      <br>
<br>
<br><br>
  <app-i-am></app-i-am>
      </div>
      <div class="section__title"  id="services">
      <br>
<br>
<br><br>
  <app-services></app-services>
      </div>
      <div class="section__title"  id="about"      >
     <br>
<br>
<br><br>
   <app-about></app-about>
      </div>
      <div class="section__title"  id="work"      >
     <br>
<br>
<br><br>
   <app-work></app-work>
       </div>
      <div class="section__title"  id="home"      >
       <app-plus></app-plus>
      </div>
      <div class="section__title"  id="contact"      >
      <br>
<br>
<br><br>
  <app-contact></app-contact>
       </div>
       <div class="section__title">
        <app-footer></app-footer>
        </div>

  </section>


</main>



 </body>


