







<div
 class="animate-gradient-text   ">PROJECTS
</div>


<div class="wrapper">
  <div class="card">
    <div class="card-header">
      <div  > <img class="front__face-photo" src="https://i.ibb.co/MnX9b6V/Capture-d-cran-2023-05-22-044311.png"  alt=""></div>
           <h2 class="card-title">EJRILI YAMMI</h2>
     </div>
    <div class="card-body">
      <p class="card-content">With the contribution of <b>Pristini Knowledge Group</b> we have created a mobile application
        - EJRILI YAMMI - with a chatbot for virtual assistance in emergency situations.
        We designed and developed a chatbot to provide accurate information and support during emergencies.
        The training covered mobile application development, user experience design,
        and the use of technologies such as Flutter, Flask, natural language processing (NLP) and machine learning.</p>
<a  href="https://github.com/JARRAY-NAJEM/ejrili_emergency_chatbot.git" target="_blank"><button class="card-btn" >Code Source</button></a>
     </div>
  </div>







  <div class="card">
    <div class="card-header">
      <div  > <img class="front__face-photo" src="https://i.ibb.co/mGCJGb0/images.png"  alt=""></div>
           <h3 class="card-title">AI-ScanCOVID</h3>
    </div>
    <div class="card-body">
      <p class="card-content">Creating a platform for a project focused on classifying COVID-19 using an image scanner.. It accurately labels scanned images as healthy, infected with COVID-19, or showing viral pneumonia. The training covered developing a web application using techniques such as Angular, Django, Flask and machine learning.</p>
      <button class="card-btn">In Progress</button>
    </div>
  </div>






  <div class="card">
    <div class="card-header">
      <div  > <img class="front__face-photo" src="https://i.ibb.co/z5WJwKn/lg-transformed.jpg"  alt=""></div>
           <h3 class="card-title">Sign Now</h3>
    </div>
    <div class="card-body">
      <p class="card-content">During my summer internship with <b>ETC Tunisie</b>, I had a wonderful opportunity to develop a web application focusing on electronic document signatures using a combination of Angular, Node.js, API, and MySQL. The web application I developed offers a seamless electronic signature experience, allowing users to securely sign and manage documents online. It eliminates the need for physical paperwork, saving time and resources.</p>
      <a  href="https://github.com/JARRAY-NAJEM/SignNow.git" target="_blank"><button class="card-btn" >Code Source</button></a>
    </div>
  </div>

  </div>


