

<section class="home"  >
  <div class="text-container">

    <h2 class="out"><span class="flok">👋</span>
      <span class="flok">H</span>
      <span class="flok">i</span>
      <span class="flok">&nbsp;</span>
      <span class="flok">F</span>
      <span class="flok">o</span>
      <span class="flok">l</span>
      <span class="flok">k</span>
      <span class="flok">s</span>
      <span class="flok">!</span></h2>
    <h2 class="typed-out">I'm Jarray Najmeddine</h2>
    <h2 class="fsd">Full-Stack Developer</h2>

    <img src="https://i.ibb.co/qY3dk2p/f.png" alt="Image description"style="width: 400px; height:120px">

    <p class="txt-1">Specializing in full-stack development, I am passionate about continuously learning and experimenting with new technologies to enhance my versatility in delivering high-quality, scalable solutions to complex problems.</p>
    <div fxFlexAlign="center">
      <button class="button-86" routerLink="/about" role="button">Know Me</button>
    </div>

  </div>
  <div class="image-container">
    <img class="banner-image" src="https://i.ibb.co/GMYrXHf/Cross-platform-software-amico.png" alt="Image description" >
  </div>
</section>

