
<div   class="animate-gradient-text">SERVICES</div>
<div class="the1">
  Web development & mobile development

</div>
<div class="high1">
  High-quality design work to help you grow business.
</div>



<div class="fullstack" >

    <!-- card -->
    <div class="card  reveal jackInTheBox  " >
      <div class="icon">
          <img src="https://cdn-icons-png.flaticon.com/128/2210/2210153.png" alt="" width="75%">
      </div>
      <p class="title">WEB Development</p>
      <p class="text"> MEAN Developer</p>
  </div>
  <!-- end card -->
  <!-- card -->
  <div class="card   reveal jackInTheBox  " >
      <div class="icon">
          <img src="https://cdn-icons-png.flaticon.com/128/8049/8049120.png" alt="" width="75%">
      </div>
      <p class="title">WEB Design</p>
      <p class="text">UI/UX Design</p>
  </div>
  <!-- end card -->


    <!-- card -->
    <div class="card reveal jackInTheBox  " >
    <div class="icon">
        <img src="https://cdn-icons-png.flaticon.com/128/4069/4069202.png" alt="" width="65%">
    </div>
    <p class="title">MOBILE Development</p>
    <p class="text">FLUTTER</p>
    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card reveal jackInTheBox  " >
    <div class="icon">
        <img src="https://cdn-icons-png.flaticon.com/128/2920/2920371.png
    " alt="" width="75%">
    </div>
    <p class="title">MOBILE Design</p>
    <p class="text">MODERN TEMPLATE</p>
    </div>
    <!-- end card -->

</div>








