<div ><p class="add">”Be who you needed when you were younger”</p></div>
<div >
  <mat-card class="example-card">

    <mat-card-content fxLayoutAlign="space-between center" >
      <div>
        <p class="p1"  >DO YOU HAVE A PROJECT?</p>

        <p class="p2"  >I`m ready for new projects</p>


      </div>
      <button class="btn"  >LET'S TALK</button>
    </mat-card-content>

  </mat-card>
  <br>
  <br>
</div>
<style>

  @media screen and (max-width: 767px){
.p1{font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.2;}
.p2{font-size: 15px;  color: rgb(255, 255, 255);}
    .example-card {
      padding: 25px;
      z-index: 1;
      background-attachment: fixed;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
width: 90%;
      background-image: url("https://www.wallpapertip.com/wmimgs/10-108195_navy-blue-and-yellow-background.jpg");
      display: flex;
      justify-content: center;
    }

    .add {
      color: rgb(79, 79, 100);
      text-align: center;
      font-family: "Black Bones Personal Use", sans-serif;
      font-size: 30px;
      margin: 50px 0;
    }
    .btn {
      box-shadow: #faff9c4d 0px 26px 45px 0px;
      height: 48px;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      padding: 5px 25px;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.7, -0.5, 0.3, 1.5) 0s;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: 0.5px;
      background-image: -webkit-linear-gradient(
        48deg,
        #fc0 0%,
        rgb(235, 218, 152) 100%
      );
    }

  }




  @media screen and (min-width: 767px) {
    .p1{font-size: 30px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      margin-bottom: 8px;
      line-height: 1.2;}
    .p2{font-size: 23px;  color: rgb(255, 255, 255);}
    .example-card {
      padding: 50px;
      z-index: 1;
      background-attachment: fixed;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;

      background-image: url("https://www.wallpapertip.com/wmimgs/10-108195_navy-blue-and-yellow-background.jpg");
      display: flex;
      justify-content: center;
    }

    .add {
      color: rgb(79, 79, 100);
      text-align: center;
      font-family: "Black Bones Personal Use", sans-serif;
      font-size: 40px;
      margin: 50px 0;
    }
    .btn {
      box-shadow: #faff9c4d 0px 26px 45px 0px;
      height: 48px;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      padding: 5px 25px;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.7, -0.5, 0.3, 1.5) 0s;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: 0.5px;
      background-image: -webkit-linear-gradient(
        48deg,
        #fc0 0%,
        rgb(235, 218, 152) 100%
      );
    }

  }

</style>
